/*configurações iniciais*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*corpo da página*/
body{
    background-image:linear-gradient(to bottom, #3D3D55, #5a5479);
    color:#f2f2f2;
    height: 2000px;
}
/*barra de navegação*/
nav{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: right;
    background-color: #2b2828;
    opacity: 100%;
}
/*configurações dos links da lista*/
.items a{
    color: #F2f2f2;
    text-decoration-line: none;
    opacity: 60%;
    transition-duration: 0.3s;
}
/*configuração da lista*/
.lista{
    display: flex;
    align-items: center;
    margin-right: 40px;
    font-size: 24px;
}
/*configurações dos items da lista*/
.items{
    list-style-type: none;
    margin-right: 15px;
    
}
.projects:hover{
    opacity: 100%;
    cursor: pointer;
}
.contact:hover{
    opacity: 100%;
    cursor: pointer
}
.sobre:hover{
    opacity: 100%;
    cursor: pointer;
}
/*nome de navegação*/
.nome{
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 20px;
    text-align: left;
    color: #F2f2f2;
    font-size: 20px;
}
/*configuração da primeira parte da pagina*/
.section1{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    
}
/*config dos fieldsets*/
fieldset{
    display: flex;
    width:800px;
    font-size: 22px;
    border: 2px solid #4d9847;
}

/*config do titulo do fieldset1*/

.sobre_skill{
    color: #58ED4B;
    font-size: 30px;
    text-shadow: 0px 7px 4px rgba(0,0,0,0.25);
}

/*configuração da imagem de perfil*/
.perfil{
    border-radius: 50%;
    border: 2px solid #4d9847;
    margin-right: 5%;
    width: 300px;
    height: 300px;
    position: relative;
    bottom: 50px;
    display: flex;
}

/*config das linhas de separação*/
hr{
   
    border: 2px solid #4d9847;
}

/*config da parte de projetos*/

.section2{
    
    margin-top: 5%;
    margin-bottom: 50%;
    
}
h1{
    color: #58ED4B;
    text-align: center;
    margin-bottom: 10%;
    font-size: 60px;
    text-shadow: 0px 7px 4px rgba(0,0,0,0.25);
}
.vinheriaimg{
    width: 600px;
    height: 280px;
    margin-right: 6%;
    border: 1px solid #6f6e6e;
    border-radius: 48px;
    opacity: 70%;
    transition-duration: 0.5s;
}
#vinheria{
    display: flex;
    justify-content:right;
    margin-bottom: 10%;
}
.vinheriaName{
    color: #58ED4B;
    font-size: 30px;
    text-shadow: 0px 7px 4px rgba(0,0,0,0.25);
}
.fieldsetVinheria{
    width:40%;
    height: 200px;
    margin-right: 5%;
}
.vinheriaimg:hover{
    transform: scale(1.1);
    opacity: 100%;
}
/*projeto 2*/
.luminosidadeimg{
    width:600px;
    height:280px;
    border: 1px solid #6f6e6e;
    border-radius: 48px;
    margin-right: 6%;
    opacity: 70%;
    transition-duration: 0.5s;
}
.fieldsetLuminosidade{
    width:40%;
    margin-right: 5%;
    height: 200px;
}
.luminosidadeimg:hover{
    transform: scale(1.1);
    opacity: 100%;
}

/*section 3 contatos*/

/*div das imagens*/
.social_images{
    width: 100%;
    text-align: center;
    
}
/*config das imagens*/
.contact_items{
    margin: 0 60px;
    transform: scale(2.0);
    transition-duration: 0.5s;
}
/*rodape*/
footer{
    text-align: center;
    margin-top: 100px;
}
/*config da section*/
.contatos{
    background-image: linear-gradient(to bottom, #222020, #3e2e2e);
    margin: 0;
    padding: 0;
}
/*expansáo das imagens*/
.contact_items:hover{
    transform: scale(2.4);
}